node_modules
.expo/
dist/
web-build/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
app-example
tar/
package-lock.json
my_logs/*
.history
my_logs
*.hprof
*.heap
*.dump
build_logs
build/
android/app/build/
ios/build/
simple-android-build/android/app/build/
simple-android-build/android/build/

# Arquivos de assinatura
*.keystore
release.keystore
debug.keystore
.idea/